bs4==4.9.3
cchardet==2.1.7
Jinja2==2.11.3
jinja2-time==0.2.0
joblib==1.0.1
matplotlib==3.3.4
matplotlib-inline==0.1.2
numpy==1.20.1
numpydoc==1.1.0
pandas==1.2.4
pickleshare==0.7.5
Pillow==8.3.1
pip==21.0.1
ptyprocess==0.7.0
pyaml==19.4.1
PyYAML==5.4.1
requests==2.25.1
requests-aws4auth==0.9
scikit-learn==0.24.1
scipy==1.6.2
seaborn==0.11.1
session_info==1.0.0
streamlit==1.5.1
urllib3==1.26.6
xlrd==1.2.0
yapf==0.31.0
zipp==3.5.0
